:root {
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.main {
    margin: 8rem 5rem 0 10rem;
}

img {
    position: relative;
    z-index: 1000;
}

header, footer {
    display: flex;
    justify-content: center;
    font-size: 1.75rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
}

li {
    list-style-type: none;
}