body {
  background-color: #CECECE;
}

header {
  text-align: center;
}

.senatorGrid {
  display: flex;
  flex-wrap: wrap;
}

figure {
  margin: .5rem;
}

figcaption {
  display: flex;
  justify-content: space-around;
}